.login-wrapper {
min-height: 100vh;
background: #f5f5f5;
}

.login-card {
background: #fff;
width: 100%;
max-width: 420px;
margin: 80px auto;
padding: 40px;
border-radius: 14px;
border: 2px solid var(--red-color);
box-shadow: 0 10px 30px rgba(0,0,0,0.1);
text-align: center;
}


h1 {
margin-bottom: 8px;
font-weight: 700;
}

.subtitle {
color: #777;
margin-bottom: 30px;
}

.form-group {
text-align: left;
margin-bottom: 20px;
}


label {
display: block;
margin-bottom: 6px;
font-weight: 600;
}


input {
width: 100%;
padding: 12px;
border-radius: 8px;
border: 1px solid #ccc;
outline: none;
}


input:focus {
border-color: var(--red-color);
}

button {
width: 100%;
padding: 14px;
margin-top: 10px;
background: var(--red-color);
border: none;
color: #fff;
font-weight: 700;
border-radius: 10px;
cursor: pointer;
transition: 0.3s;
}

button:hover {
background: #b91b1b;
}

#wrongCredentials {
    color: red;
    display: none;
}

.footer-text {
display: block;
}